* {
  font-size: 1rem;
  font-family: monospace;
  padding: 0;
  margin: 0%;
}

nav {
  display: flex;
  margin: 0  auto;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(88, 89, 90, 0.76);
  padding: 1em;
}
nav button {
  color: #fff;
  background-color: rgb(50, 145, 189);
  padding: .5em;
}

nav input {
  padding: .2rem;
  width: 30%;
}

nav h1 {
  font-size: 2em;
  font-weight: 500;
  color: #fff;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.ninja {
  display: flex;
  margin: 1rem;
  padding: 2.5rem;
  border: 3px solid black;
  width: 60%;
}
.ninja p {

  text-align: center;
}

h2, h4, h5 {
  padding: .3rem;
}

h2 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
  opacity: .5;
}
h5 {
  line-height: 1.5;
  opacity: .7;

}

button {
  padding: .4rem;
  background-color: rgb(238, 238, 159);
}
#add{
  display: block;
  margin-top: 50%;
  width: 90%;
}
.add-definition {
  border: 3px solid black;
  width: fit-content;
  margin-top: 1rem;
  padding: 1rem;
  height: 13.5rem;

}
.add-definition h3 {
  display: block;
  padding-top: 2rem;
}

p, a {
  font-size: 1.5rem;
  margin-top: 1rem;
}


